{% extends "layout.html" %}
{% block content %}
    <!-- 
        user.username = User's name
        posts.total = total posts the user has
     -->
    <h1 class="mb-3">Posts by {{ user.username }} ({{ posts.total }})</h1>
    {% for post in posts.items %}
        <article class = "media content-section">
            <!-- Insert image. -->
            <!-- 'rounded-circle' = bootstrap -->
            <!-- 'article-img' = main.css style for sizing, padding etc. -->
            <!-- url_for: 'static' = static directory -->
            <!-- filename='profile_pics/' + post.author.image_file:
            concatenation of image file name. -->
            <img class="rounded-circle article-img" 
            src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
            <div class="media-body">
                <div class="article-metadata">
                    <!--
                        user_posts = route in routes.py
                        username=post.author.username sets the username variable to the post's author.
                      -->
                    <a class="mr-2" href="{{ url_for('user_posts', username=post.author.username) }}">{{ post.author.username }}</a> 
                    <!-- Post the datetime object. strftime is a method you can look up.  -->
                    <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
                </div>
                <!-- 'post' = route name,'post_id' = the post's id number  -->
                <h2><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
                <p class="article-content">{{ post.content }}</p>
            </div>
        </article>
    {% endfor %}
    <!-- Add pagination -->
    <!-- .iter_pages arguments to clean up pagination formating:
        left_edge=1 = how many pages will show up on the far left of the links.
        right_edge=1 = how many pages will show up on the far right side of the links.
        left_current=1 = how many pages will show up on the left of the current page link.
        right_current=2 = how many pages will show up on the right of the current page link.
     -->
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        <!-- if page_num is NOT None, create a link: -->
        {% if page_num %}
            <!-- 
                posts.page = current page
                page_num = page number
                So, if the current page is the page number being paginated, then style it differently.
                i.e., change the way the pagination link looks if you're on that particular page.
             -->
            {% if posts.page == page_num %}
                <!-- URL for the home page + the page = the page we're currently on.  -->
                <a class="btn btn-info mb-4" href="{{ url_for('user_posts', username=user.username, page=page_num )}}">{{ page_num }}</a>
            {% else %}
                <a class="btn btn-outline-info mb-4" href="{{ url_for('user_posts', username=user.username, page=page_num )}}">{{ page_num }}</a>
            {% endif %}
        <!-- If page_num = None, then: -->
        {% else %}
            ...
        {% endif %}
    {% endfor %}
{% endblock content %}