<!-- Adds the boilerplate layout -->
{% extends "layout.html" %}

{% block content %}
    <!-- 'content-section' is a style in main.css -->
    <div class="content-section">

        <!-- POST and "" = posts to the same, current route -->
        <form method="POST" action="" novalidate>
            <!-- .hidden_tag() adds a 'CSRF token', 
                Cross Site Request Forgery token, 
                aka security features, uses Secret Key.-->
            {{ form.hidden_tag() }}
             <!-- 'fieldset' groups related elements in a form.
                'form-group' is a bootstrap class -->
            <fieldset class="form-group">
                <!-- border-bottom adds styling, mb-4 = margin-bottom 4 -->
                <!-- a 'legend' is a form's label -->
                <legend class="border-bottom mb-4">Join Today</legend>
                <div class="form-group">
                    
                    <!-- Gets fields from the 'form' passed in from 'forms.py'
                    * .label prints out a heading (label) above the username field.
                    'username' is the name we gave the variable in forms.py that 
                    stores the StringField class.
                    * 'form-control-label' adds a Bootstrap style -->
                    {{ form.username.label(class="form-control-label") }}
                    
                    <!-- Adds error feedback -->
                    <!-- if the form has errors: -->
                    {% if form.username.errors %}
                    <!-- Add 'is-invalid' class to the form field if there's an error. 
                    This should change the form field to red(?) -->
                        {{ form.username(class="form-control form-control-lg is-invalid") }}
                        <!-- Add error message(s) underneath the field. -->
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                            <!-- Creates the form field -->
                            <!-- If there are no errors, print out the valid field as usual -->
                        {{ form.username(class="form-control form-control-lg") }}
                    {% endif %}


                    
                </div>

                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.confirm_password.label(class="form-control-label") }}
                    {% if form.confirm_password.errors %}
                        {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.confirm_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.confirm_password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>

            <div class="form-group">
                <!-- 'btn' = button
                    'btn-outline-info' = bootstrap style adding a blue outline. -->
                {{ form.submit(class="btn btn-outline-info") }}
            </div>

        </form>
    </div>

    <div class="border-top pt-3">
        <small class="text-muted">
            <!-- Link to your login page using the 'url_for' function. 
                Note: 'login' is not the name of the route, but the route FUNCTION -->
            Already Have An Account? <a class="ml-2" href="{{ url_for('login')}}">Sign In</a>
        </small>
    </div>
{% endblock content %}